FLASK_ENV=DEVELOPMENT
REDIS_URL=redis://localhost:6379/0
TRADING212KEYID=replace-with-your-key-id
TRADING212KEY=replace-with-your-api-secret
ALLOWED_ORIGINS=http://localhost:3000
REACT_APP_FLASK_BASE_URL=http://localhost:5000

DEMO_MODE=true
REACT_APP_DEMO_MODE=true