.card {
  min-height: 110px;
  max-height: 110px;
  overflow: hidden;

  .footer {
    font-size: smaller;

    .footerItem {
      display:inline-block;
      margin: 2px;
    }
  }

  .icon {
    font-size: 32px;
  }
}
