.header {
  background-color: var(--primary-color);
  align-items: center;
  display: inline-block;
  gap: 16px;
  padding: 16px;
  margin-bottom: 16px;
  height: 10vh;

  .headerTitle {
    margin: 8px;
  }

  .icon {
    font-size: 32px;
    margin-right: 8px;
  }

  .divider {
    margin: 0px !important;
  }
}
.content {
  padding: 0px 80px;
  
  .chartRow {
    margin-top: 32px;
    margin-bottom: 16px;

    .chartCol {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}

:root {
  background: black;
}
